.gradient-background {
  background: linear-gradient(to right, #3a5ed4, #84b8cd); 
}
.nav_height{
  height: 70px;
}
.login{
  width: 600px;
  margin: auto;
  height: 300px;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
justify-content: center;
align-items: center;
}
.login>input{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 70%;
}